<table class="table mt-5">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
    </tr>
    <tbody>
        <tr *ngFor="let work of works">

            <td>
                {{work.title}}
            </td>
            <td>
                {{work.description}}
            </td>
            <td >
                {{work.amount}}
            </td>
             
        </tr>
        <tr>
            <td></td>
            <td class="text-end fw-bold">Total:</td>
            <td>{{total}}</td>
        </tr>
    </tbody>
</table>