
<div class=" my-3" >
  <button class="btn btn-outline-success" routerLink="/customer/add">add new customer</button>
</div>
<div class="container card my-3" *ngFor="let cust of customers">
    <div class="card-header">
      {{cust.name}}
    </div>
    <div class="card-body row ">
      <div class="col-2 border-end">
       <h5> Customer Details</h5>
       <div><i class="fa-solid fa-phone" style="color: #000000;"></i> {{cust.phone}}</div>
       <div><i class="fa-regular fa-envelope" style="color: #000000;"></i> {{cust.email}}</div>
      </div>
      <div class="col-2 border-end">
        <h5>Odometer</h5>
        <div><i class="fa-solid fa-gauge" style="color: #000000;"></i> {{cust.running_km}}</div>
      </div>
      <div class="col-2 border-end">
        <h5>date</h5>
        <div><i class="fa-solid fa-calendar-days" style="color: #000000;"></i> {{cust.created_date|date}}</div>  
      </div>
      <div class="col-2 border-end">
        <h5>Vehicle no</h5> 
        <div><i class="fa-solid fa-car" style="color: #000000;"></i>  {{cust.vehicle_no}}</div>
      </div>
      <div class="col-2 border-end">
        <h5 class="text-center text-decoration"> Total</h5>

        <div class="my-3"><span class="me-2"><i class="fa-solid fa-rupee-sign"></i></span>{{cust.work_total}}</div>
    </div>
    <div class="col-2 ">
        <h5 class="text-center text-decoration"> Aciton</h5>


        <div class="my-3"> 
            <a href="" class="btn btn-outline-primary  btn-sm" [routerLink]="['/customer',cust.id]">view</a>
            <a href="" routerLink="/customer/add" [queryParams]="{custId:cust.id}" class="btn btn-outline-warning  btn-sm">edit</a>
            <button (click)="handleDelete(cust.id)" class="btn btn-outline-danger btn-sm">delete</button>
            <button (click)="generatePdf(cust.id)" class="btn btn-outline-danger btn-sm">invoice {{cust.id}}</button>
        </div>
    </div>
  </div>
</div>

